<?xml version="1.0"?>

<robot name="threedof">

  <!-- ******************************************************** -->
  <!-- ******************* Kinematic Chain ******************** -->
  <!-- ******************************************************** -->
  <!-- Note the 'origin' tag in the joints defines the shift and
       reorientation, i.e. the transform.  For moving joints, this
       happens before the continuous joint rotates around 'axis'. -->

  <!-- World can't take a visual element (at least in Gazebo). -->
  <link name="world"/>

  <joint name="placement" type="fixed">
    <parent link="world"/>
    <child  link="baseplate"/>
    <origin xyz="0.5565 0 0.0253" rpy="0 0 0"/>			<!-- Middle of base plate in x, bottom in z-->
  </joint>

  <!-- BASE PLATE: Shift across the base plate to the base motor. --> 
  <link name="baseplate">
    <visual>
      <origin xyz="0 0.1 0.00625" rpy="0 0 0"/> <!--Center of base plate-->
      <geometry>
	      <box size="0.2 0.2 0.0125"/>
      </geometry>
      <material name="wood"/>
    </visual>
  </link>

  <!--From bottom of baseplate to middle of basemotor in y, bottom in z-->
  <joint name="baseplate" type="fixed">
    <parent link="baseplate"/>  <!--Bottom of baseplate-->
    <child  link="basemotor"/>  <!--Bottom of basemotor-->
    <origin xyz="0 0.035 0.0125" rpy="0 0 1.5708"/> <!--y: offset of center of motor from edge of base plate, z: baseplate thickness-->
  </joint>

  <!-- BASE MOTOR: Thickness: X5 = 31.1mm, X8 = 45.1mm -->
  <link name="basemotor">
    <visual>
      <geometry>
        <mesh filename="package://threedof/meshes/X8.stl"
	      scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="hebi"/>
    </visual>
  </link>

  <joint name="base" type="continuous">
    <parent link="basemotor"/> <!--Bottom of basemotor-->
    <child  link="lbracket"/> <!--Top of basemotor-->
    <origin xyz="0 0 0.0451" rpy="0 0 0"/> <!--z: half basemotor thickness-->
    <axis   xyz="0 0 1"/>
  </joint>

  <!-- L BRACKET: Shift and rotate across the L bracket. -->
    <!-- L BRACKET: Two-box visual, 10 mm thick -->
  <link name="lbracket">

    <!-- Horizontal leg -->
    <!-- Length = 0.05295 m (x), Width = 0.06 m (y), Thickness = 0.01 m (z) -->
    <visual name="lbracket_horizontal">
      <!-- Centered at half-length in x, half-thickness in z -->
      <origin xyz="0.026475 0 0.005" rpy="0 0 0"/>
      <geometry>
        <box size="0.05295 0.06 0.01"/>
      </geometry>
      <material name="wood"/>
    </visual>

    <!-- Vertical leg -->
    <!-- Thickness = 0.01 m (x), Width = 0.06 m (y), Height = 0.1413 m (z) -->
    <visual name="lbracket_vertical">
      <!-- Centered at half-height in z, half-thickness in x -->
      <origin xyz="0.04795 0 0.07565" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.06 0.1413"/>
      </geometry>
      <material name="wood"/>
    </visual>

  </link>

  <joint name="lbracket" type="fixed">
    <parent link="lbracket"/> <!--Middle of basemotor-->
    <child  link="shouldermotor"/> <!--Front of shouldermotor where table edge is front-->
    <origin xyz="0.05295 0 0.11875" rpy="0 -1.5708 3.1415"/>	  <!-- L BRACKET DIMENIONS -->
  </joint>

  <!-- SHOULDER MOTOR: Thickness: X5 = 31.1mm, X8 = 45.1mm -->
  <link name="shouldermotor">
    <visual>
      <geometry>
        <mesh filename="package://threedof/meshes/X5.stl"
	      scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="hebi"/>
    </visual>
  </link>

  <joint name="shoulder" type="continuous">
    <parent link="shouldermotor"/> <!--Front of shouldermotor-->
    <child  link="upperarm"/> <!--Middle of shouldermotor cylinder-->
    <origin xyz="0 0 0.0311" rpy="0 0 0"/>
    <axis   xyz="0 0 1"/>
  </joint>

  <!-- UPPER ARM: Shift across the upper arm (1/4in thickness) -->


  <link name="upperarm">
    <visual>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <mesh filename="package://threedof/meshes/upperarm.stl"
	      scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="wood"/>
    </visual>
  </link>

  <joint name="upperarm" type="fixed">
    <parent link="upperarm"/>
    <child  link="elbowmotor"/>
    <origin xyz="0.38 0 0.0057" rpy="0 0 0"/>		  <!-- UPPER ARM DIMENIONS -->
  </joint>

  <!-- Elbow motor.  Thickness: X5 = 31.1mm, X8 = 45.1mm -->
  <link name="elbowmotor">
    <visual>
      <geometry>
        <mesh filename="package://threedof/meshes/X5.stl"
	      scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="hebi"/>
    </visual>
  </link>

  <joint name="elbow" type="continuous">
    <parent link="elbowmotor"/>
    <child  link="lowerarm"/>
    <origin xyz="0 0 0.0311" rpy="0 0 0"/>
    <axis   xyz="0 0 1"/>
  </joint>

  <!-- Shift across the upper arm (1/4in thickness) -->
  <link name="lowerarm">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="1.5708 0.0 0.0"/>
      <geometry>
        <mesh filename="package://threedof/meshes/pointer.stl"
	      scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="wood"/>
    </visual>
  </link>

  <joint name="lowerarm" type="fixed">
    <parent link="lowerarm"/>
    <child  link="tip"/>
    <origin xyz="0.37 0 0.00285" rpy="0 0 0"/>		  <!-- UPPER ARM DIMENIONS -->
  </joint>

  <!-- TIP FRAME -->
  <link name="tip"/>

  
  <!-- *************************************************** -->
  <!-- *************** Visual Link Elements ************** -->
  <!-- *************************************************** -->
  <!-- Note collada .dae files are preferred over .stl as  -->
  <!-- they specify and provide color/texture support.     -->

  <!-- Colors -->
  <material name="wood">  <color rgba="0.82 0.62 0.04 1"/>  </material>
  <material name="hebi">  <color rgba="0.82 0.06 0.06 1"/>  </material>

</robot>
